.button {
  margin-right: 10px;
  width: 100px;
}

.divider {
  height: 20px;
}

.but1 {
  margin-right: 10px;
}
.but2 {
  margin-right: 10px;
}

.main2 {
  display: none;
}
.uk-button {
  background-color: rgb(42, 165, 97);
  border: none;
  color: white;
}

iframe.baten_all,
iframe.lasten_all {
  overflow: auto;
  height: 100vh;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

/* ---- */

.header1 {
  background-color: #1d6b34 !important;
  height: 80px;
  padding-top: 10px;
}

.footer {
  height: 120px;
  background-color: #1d6b34;
  margin-top: 5px;
}

.title {
  color: white;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.logo1 {
  position: relative;
  height: 30px;
  z-index: 2;
  margin: 10px;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* ************************************** UI KIT specifieke opmaak ****************************************** */

.uk-navbar-container.uk-navbar {
  background-color: #1d6b34 !important;
}

.uk-navbar-center h2,
.uk-navbar-nav > li > a {
  color: white;
}

.uk-navbar-nav > li:hover > a,
.uk-navbar-nav > li > a.uk-open,
.uk-navbar-nav > li > a:focus {
  color: yellow;
}
/* ************************************** // UI KIT specifieke opmaak ****************************************** */
